.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.slideshow-content {
    display: flex;
    align-items: center;
}

.slideshow-image {
    width: 60vw;
    /* Set a fixed width */
    height: 30vw;
    /* Set a fixed height */
    object-fit: contain;
    /* Ensure the image covers the area without distortion */
    margin: 0 1vw;
    /* Optional: Add some margin */
}

button {
    margin: 1vw;
    /* Optional: Add some margin around buttons */
    padding: 2vw;
    /* Optional: Add some padding to buttons */
    font-size: 32px;
    /* Optional: Increase button font size */
}