.custom-banner {
    background-color: #787b7e;
    padding: 50px 0;
}

.banner-heading {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(25, 156, 53);
}

.banner-paragraph {
    font-size: 1.25rem;
    color: #6c757d;
}
.container{
    background-color: #6c757d;
    max-height: max-content;
    max-width: max-content;
    text-align: center;
}